<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="author" content="{{ site.author }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="20; url=/">
        {% endif %}

        <title>{{ site.title }} {% if page.title %} | {{ page.title }}{% endif %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        {% if page.layout != 'home' %}

        <link href="{{site.baseurl}}/css/grayscale.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/timeline.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/page.css" rel="stylesheet">

        {% else %}

        <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">
        {% endif %}

        <!-- Custom Fonts -->
        <link href="{{site.baseurl}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon }}">
    </head>
    {% if page.layout != "home" %}

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% else %}
    <body>
    {% endif %}
            {% include loader.html %}