<section id="blog-posts">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <!--<h1 class="section-title"><strong>POSTS</strong></h1>-->
                                </h1>
                                {% for post in paginator.posts %}
                                <a href="{{site.baseurl}}{{ post.url }}">
                                {% if post.image %}
                                <div class="col-sm-4 no-padding post-container" style="background-image: url('{{site.baseurl}}/img/{{post.image}}-thumb.{{post.image-extension}}');">
                                    {% else %}
                                    <div class="col-sm-4 no-padding no-image">
                                        {% endif %}
                                        <div class="post-overlay"></div>
                                        <div class="post-information">
                                            <div class="post-title">
                                                <h4 align="left">
                                                <strong>{{ post.date | date_to_string }}</strong>
                                                <small>. {{ post.category }} .</small>
                                                <a href="{{site.baseurl}}{{ post.url }}">
                                                <strong>{{ post.title }} </strong>
                                                </a>
                                                <small>
                                                <a href="{{site.baseurl}}{{ post.url }}#disqus_thread">Comments</a></small>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5">
                                    <!-- Pagination links -->
                                    <div class="pagination" >
                                        {% if paginator.previous_page %}
                                        <a href="{{site.baseurl}}{{ paginator.previous_page_path }}#blog-posts" class="previous">Previous</a>
                                        {% else %}
                                        <span class="previous">Previous</span>
                                        {% endif %}
                                        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                                        {% if paginator.next_page %}
                                        <a href="{{site.baseurl}}{{ paginator.next_page_path }}#blog-posts" class="next">Next</a>
                                        {% else %}
                                        <span class="next ">Next</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            </section><!--end blog section-->