{% include head.html %}
{% include navigation.html %}
{% if page.image %}
    {% capture coverimage %}/img/{{page.image}} {% endcapture %}
{% else %}
    {% assign coverimage = "/img/ferriswheel.jpeg" %}
{% endif %}
<div class="single-page">
    <section id="page-title" style="background-image: url({{site.baseurl}}{{coverimage}});" class="container-fluid content-section text-center">
        <div class="row">
            <div class="col-lg-12 ">
                <h1 class="section-title"><strong>{{ page.title }}</strong></h1>
                <p id="subtitle"> {{ page.subtitle }} </p>
            </div>
        </div>
        </section><!--end title section-->
        <section class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    {{ page.content | markdownify }}
                </div>
            </div>
            </section><!--end content section-->
            {% if page.section-type == "tag" %}
            {%include tags.html%}
            {% endif %}
            {% if page.section-type == "blog" %}
            {%include posts.html%}
            {% endif %}
            <!--footer sections-->
            {% include social-buttons.html %}
            {% include footer.html %}
            {% include js.html %}
        </div>
    </body>
</html>